/* Reset – basic normalization and box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  font-size: 100%;
  background: #ffffff;
  font-style: normal;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  line-height: 1.6;
}
